#define IDR_VIBESTATION_BACKGROUND 101
#define IDR_VIBESTATION_STARTUP_ICON 102
#define IDR_VIBESTATION_CURSOR_WAV 103
#define IDR_VIBESTATION_OPEN_WAV 104
#define IDR_VIBESTATION_CLOSE_WAV 105
#define IDR_VIBESTATION_LOGO_WAV 106

IDI_APP_ICON ICON "vibestation.ico"

IDR_VIBESTATION_BACKGROUND RCDATA "ui\\definitive\\background.jpg"
IDR_VIBESTATION_STARTUP_ICON RCDATA "icon512x512.png"
IDR_VIBESTATION_CURSOR_WAV RCDATA "ui\\definitive\\sounds\\cursor.wav"
IDR_VIBESTATION_OPEN_WAV RCDATA "ui\\definitive\\sounds\\open.wav"
IDR_VIBESTATION_CLOSE_WAV RCDATA "ui\\definitive\\sounds\\close.wav"
IDR_VIBESTATION_LOGO_WAV RCDATA "ui\\definitive\\sounds\\logo.wav"
